/Business/obj
/Business/bin
/Entity/obj
/Entity/bin
/KingOffice/obj
/KingOffice/bin
/Repository/obj
/Repository/bin
/.vs
/KingOffice/wwwroot/Upload
/F88ServiceApi/obj
/F88ServiceApi/bin
/HttpHelper/bin
/HttpHelper/obj
